.side-header {
  background-color: hotpink;
  height: 100vh;
  padding: 24px;
  width: 16vw;

  &__nav {
    font-size: 0.8rem;

    ul {
      list-style-type: none;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  a,
  a:visited {
    color: #333;
  }

  a:hover {
    color: #666;
  }
}
