.side-header {
  background-color: #ccc;
  height: 100vh;
  padding: 24px;

  &__nav {
    font-size: 0.8rem;

    ul {
      list-style-type: none;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
