.select {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 12px;
  width: 100%;
  max-width: 500px;

  select {
    font-size: 0.90rem;
    background-color: white;
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
  }

}
