.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: lavenderblush;
  padding: 0 24px;

  &__content {
    width: 100%;
    max-width: 600px;
  }

  &__title {
    text-align: center;
  }
}
